---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";

const avatarSrcs: Array<string> = [
	"https://dynapictures.com/images/team/AlexDesktop.png",
	"https://i.pinimg.com/280x280_RS/cc/50/8a/cc508a8695c6264be42cdcd698181397.jpg",
	"https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
	"https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
	<!--   <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore ScrewFast on GitHub"
    url="https://github.com/mearashadowfax/ScrewFast
  />
 -->
	<HeroSection
  title=`Become a 
      <span class="relative inline-flex sm:inline">
        <span class="relative text-orange-400 text-6xl dark:text-pink-400"> Productivity </span>
        <span
          class="absolute inset-0 h-full w-full bg-gradient-to-r from-[#44BCFF] via-[#FF44EC] to-[#FF675E] opacity-30 blur-lg filter"
        ></span>
        </span>
        <span
        class="text-yellow-500 text-7xl dark:text-yellow-400">Master</span>`
		subTitle="Transform your digital workflow with powerful tools and training designed by a productivity-obsessed neurodivergent expert."
		primaryBtn="Customer Stories"
		primaryBtnURL="https://winflowz.vercel.app/products#testimonials"
		secondaryBtn="Buy Now"
		withReview={true}
		avatars={avatarSrcs}
		rating=`<span class="font-bold">5</span> / 5`
		starCount={5}
		reviews=`From <span class="font-bold">6</span> Reviews`
		src={heroImage}
		alt="Stack of ScrewFast product boxes containing assorted hardware tools"
	/>

	<ClientsSection
		title="Trusted by Leaders"
		subTitle="Join entrepreneurs, freelancers and professionals who transformed their productivity with WinFlowz"
	/>

	<FeaturesGeneral
		title="Redefining Digital Productivity"
		subTitle="As someone with ADHD and autism, I struggled a lot to be self-aware and disciplined. So I've created tools that make it unreasonable and impossible not to reach our goals👌"
		src={featureImage}
		alt="ScrewFast products in floating boxes"
		features={features}
	/>

	<FeaturesNavs
		title=`Customize <span class="text-yellow-500 dark:text-yellow-400">Your Workflowz </span>to perfectly suit your personality and construct your best life`
		tabs={[
			{
				heading: "ObsiFlowz",
				content: "I'm currenly using Obsidian a a note app so I design amazing plugins to supercharge your Obsidian experience. Transform your content curation with RSSFlowz and optimize your plugin research management with PluginFlowz.",
				svg: "tools",
				src: tools,
				alt: "Yellow and black heavy equipment on brown grass field",
				first: true,
			},
			{
				heading: "TubeFlowz",
				content: "Revolutionize your YouTube research with a powerful annotation and bookmarking Chrome extension. Never lose valuable content again.",
				svg: "dashboard",
				src: dashboard,
				alt: "A screenshot or graphic representation of the intuitive dashboard",
				second: true,
			},
			{
				heading: "Windows Mastery",
				content: "Unlock the full potential of Windows with over 200 tested and approved productivity tips and tools. Work smarter, not harder.",
				svg: "house",
				src: construction,
				alt: "Gray metal building frame near tower crane during daytime",
			},
		]}
	/>

	<TestimonialsSection
		title="Fast-Track Your Projects"
		subTitle="We ensure you obtain the highest amount of value with minimal investment and effort."
		testimonials={[
			{
				content:
					"Congratulations, Diane! I just spent 20 minutes in it and l'm already wondering what I've been doing with my life until now :)) Lots of goodies to improve my work. I love it!",
				author: "Florin Muresan",
				role: "CEO and Co-Founder | Squirrly",
				avatarSrc:
					"https://www.squirrly.co/media/2018/09/1516612623-7888933-109x109x119x109x5x0-Screenshot-2016-09-1.png",
			},
		]}
		statistics={[
			{
				count: "70k+",
				description:
					"customers equipped — from DIY to major construction firms",
			},
			{
				count: "35%",
				description:
					"uptick in project efficiency with ScrewFast tools and services",
			},
			{
				count: "15.3%",
				description:
					"reduction in maintenance costs reported by long-term clients",
			},
			{
				count: "2x",
				description: "quicker assembly using innovative fastening solutions",
			},
		]}
	/>

	<PricingSection pricing={pricing} />

	<FAQ title="Frequently<br />asked questions" faqs={faqs} />

	<HeroSectionAlt
		title="Let's Build Together"
		subTitle="WinFlowz is a productivity ecosystem, meticulously crafted by Diane Defores."
		url="https://winflowz.com/courses"
	/>
</MainLayout>
