---
// Importing necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import CardSmall from "@components/ui/cards/CardSmall.astro";
import CardWide from "@components/ui/cards/CardWide.astro";
import FeaturesStatsAlt from "@components/sections/features/FeaturesStatsAlt.astro";
import TestimonialsSectionAlt from "@components/sections/testimonials/TestimonialsSectionAlt.astro";

// Importing necessary functions from Astro
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE } from "@data/constants";

// Fetching all the product related content and sorting it by main.id
const product: CollectionEntry<"products">[] = (
  await getCollection("products", ({ id }) => {
    return id.startsWith("en/");
  })
).sort(
  (a: CollectionEntry<"products">, b: CollectionEntry<"products">) =>
    a.data.main.id - b.data.main.id,
);

// Define variables for page content
const title: string = "Products";
const subTitle: string =
  "Explore the durability and precision of ScrewFast tools, designed for both professionals and enthusiasts. Each of our products is crafted with precision and built to last, ensuring you have the right tool for every job.";

// Testimonial data that will be rendered in the component
const testimonials = [
  {
    content: `"Actionable Advice and Profound Market Research.

This product contains lots of useful information, obviously the authors are experts in productivity tools. I like the idea of working smarter, not harder, and one can achieve this by applying right tools for the job.

I will definitely try incorporating advice into daily routines. Nice, they even covered how to stay focused. What tools to use to eliminate distractions and not to procrastinate!"`,
    author: "Alexander Vushkan",
    role: "Managing Director | Dynpictures",
    avatarSrc: "https://dynapictures.com/images/team/AlexDesktop.png",
    avatarAlt: "Alexander Vushkan",
    footerLink: "https://dynapictures.com",
  },
  {
    content: `"I thought I was being productive and that my setup was good and adapted for speed but I guess I was wrong.

I knew surprisingly very little, compared with what I found inside. Having so many products at our company, it's becoming increasingly hard to focus and keep track of all the knowledge. Plus, I need things yesterday.

I'm sure that I will finally be able to adapt to speed using everything inside. There's a lot to go through and it's so well organized. I feel like l've discovered a hidden treasure."`,
    author: "Florin Muresan",
    role: "CEO and Co-Founder | Squirrly",
    avatarSrc: "https://i.pinimg.com/280x280_RS/cc/50/8a/cc508a8695c6264be42cdcd698181397.jpg",
    avatarAlt: "Florin Muresan",
  },
  {
    content: `"Best ROI ever!!!
  
  This list of useful apps and websites will optimize the crap out of your life literally.
  
  Thank you for putting this together!"`,
    author: "Gary Quigley",
    role: "IT Project Manager at Control Risks Group Limited",
    avatarSrc: "https://scontent-bru2-1.xx.fbcdn.net/v/t39.30808-6/312756938_10166656812600273_3062535304759938084_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=h5Lcpmuo0qQQ7kNvgGfLH3M&_nc_zt=23&_nc_ht=scontent-bru2-1.xx&_nc_gid=A5-p3ty9r11yA9iSyFYjwIV&oh=00_AYBvFj08NNdfqJNysp7x-Um96T6InXb7vnpVKS_BUwAg6g&oe=674A4AAB",
    avatarAlt: "Image Description",
  },
  {
    content: `"Must have for windows user.
    
    Even if one is a windows geek, one will find golden nuggets on hacks and shortcuts which save time and fasten your work.
    
    Very neatly organized in sections. Already got my money's worth, as the name of the product will definitely enhance the way one will use their windows OS."`,
    author: "Phan Vũ Hoàng",
    role: "Tax Professional at Deloitte Vietnam Tax Co., Ltd",
    avatarSrc: "https://scontent-bru2-1.xx.fbcdn.net/v/t1.6435-9/124014345_5321012004579314_8484534110376059575_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=a5f93a&_nc_ohc=kw7olnfMpUgQ7kNvgEY7HKf&_nc_zt=23&_nc_ht=scontent-bru2-1.xx&_nc_gid=AoOfqWaaTHTucyAndNgHEE-&oh=00_AYAsLURrdyDbnGZ8buTrNjldQqUmDhbOX2AgXu8Z8Ex1Sw&oe=676BED7C",
    avatarAlt: "Phan Vũ Hoàng",
  },
  {
    content: `Love it! I was skeptical at first but it contains numerous information about various 'handy hacks' to make me much more productive without having to search too much.

For example, 'Play Video Better' section highlights quite a few extensions and apps that really extend my Youtube experiences. For a book addict like me, the 'Read better' section is really a gold mine. Some sources I have known, but most I have not been aware.

There are many more and I am still exploring - But I feel lucky that I pulled the trigger - WinFlowz already more than paid off my investment."`,
    author: "Digital_Nomad",
    role: "AppSumo Customer with 128 deals bought",
    avatarSrc: "data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='4296.892 371.592 25 18.932'%3e %3cg id='Group_431' data-name='Group 431' transform='translate(4296.892 371.592)'%3e %3cpath id='Path_914' data-name='Path 914' fill='%23ffbc00' d='M22.729%2c28.781%2c4%2c30.84a1.51%2c1.51%2c0%2c0%2c1-1.13-2.511C6.308%2c24.412%2c13.489%2c15.9%2c20.143%2c15.9a7.263%2c7.263%2c0%2c0%2c1%2c3.892%2c1.13c4.118%2c2.586%2c2.837%2c7.231%2c1.657%2c9.817A3.3%2c3.3%2c0%2c0%2c1%2c22.729%2c28.781Z' transform='translate(-1.853 -11.908)'/%3e %3cpath id='Path_915' data-name='Path 915' fill='%23ffbc00' d='M18.221%2c1.984h0C11.14%2c1.984%2c4.135%2c9.742.193%2c14.237a1.485%2c1.485%2c0%2c0%2c1%2c.151-1.808C3.783%2c8.512%2c10.964%2c0%2c17.618%2c0A7.263%2c7.263%2c0%2c0%2c1%2c21.51%2c1.13a5.982%2c5.982%2c0%2c0%2c1%2c2.41%2c2.787%2c7.11%2c7.11%2c0%2c0%2c0-.7-.5%2c9.377%2c9.377%2c0%2c0%2c0-5-1.431' transform='translate(0.045)'/%3e %3c/g%3e%3c/svg%3e",
    avatarAlt: "AppSumo Customer",
  },
];

const pageTitle: string = `Products | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://screwfast.uk/products",
    "url": "https://screwfast.uk/products",
    "name": "Hardware Tools | ScrewFast",
    "description": "Explore the durability and precision of ScrewFast tools, designed for both professionals and enthusiasts.",
    "isPartOf": {
      "@type": "WebSite",
      "url": "https://screwfast.uk",
      "name": "ScrewFast",
      "description": "ScrewFast offers top-tier hardware tools and expert construction services to meet all your project needs."
    },
    "inLanguage": "en-US"
  }}
>
  <div
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <div class="mb-4 flex items-center justify-between gap-8 sm:mb-8 md:mb-12">
      <div class="flex items-center gap-12">
        <h1
          class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
        >
          {title}
        </h1>
        {
          subTitle && (
            <p class="hidden max-w-screen-sm text-pretty text-neutral-600 dark:text-neutral-400 md:block">
              {subTitle}
            </p>
          )
        }
      </div>
      <PrimaryCTA title="Customer Stories" url="#testimonials" noArrow={true} />
    </div>
    <!--Displaying products in alternating styles. Alternative product gets different card styling.-->
    <!--Maps through all product entries and displays them with either CardSmall or CardWide based on their position.-->
    <section class="grid grid-cols-1 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8">
      {
        product.map((product, index) => {
          const position = index % 4;
          if (position === 0 || position === 3) {
            return <CardSmall product={product} />;
          } else {
            return <CardWide product={product} />;
          }
        })
      }
    </section>
  </div>
  <!--Features statistics section-->
  <FeaturesStatsAlt
    title="Why Choose ScrewFast?"
    subTitle="Transform your ideas into tangible results with ScrewFast tools. Whether you're starting with a sketch on a napkin or diving into a comprehensive construction project, our tools are engineered to help you build with confidence."
    benefits={[
      "Robust and reliable tools for long-lasting performance.",
      "Innovative solutions tailored to modern construction needs.",
      "Customer support dedicated to your project's success.",
    ]}
  />
  <!--Testimonials section-->
  <TestimonialsSectionAlt
    title="What Our Customers Say"
    testimonials={testimonials}
  />
</MainLayout>
