---
interface Props {
  id: string;
  name: string;
  errorId: string;
  label?: string;
  placeholder?: string;
  content?: string;
  forgot?: boolean;
  forgotText?: string;
  isConfirm?: boolean;
}

const {
  id,
  name,
  errorId,
  label = "Password",
  placeholder = "Enter your password",
  content = "8+ characters required",
  forgot = false,
  forgotText = "Forgot password?",
  isConfirm = false
} = Astro.props;
---

<div>
  <div class="flex items-center justify-between">
    <label for={id} class="mb-2 block text-sm text-neutral-800 dark:text-neutral-200">
      {label}
    </label>
    {
      !isConfirm && forgot && (
        <a
          class="text-sm font-medium text-orange-400 decoration-2 hover:underline dark:text-orange-400 dark:focus:outline-none"
          href="#"
        >
          {forgotText}
        </a>
      )
    }
  </div>
  <div class="relative">
    <input
      type="password"
      id={id}
      name={name}
      class="block w-full rounded-lg border border-neutral-200 px-4 py-3 text-sm focus:border-orange-500 focus:ring-orange-500 dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-400"
      placeholder={placeholder}
      required
      aria-describedby={errorId}
    />
  </div>
  <p class="mt-2 text-xs text-neutral-500" id={`${id}-hint`}>{content}</p>
  <p class="mt-2 hidden text-xs text-red-600" id={errorId}></p>
</div>
