---
interface Props {
  id: string;
  name: string;
  errorId: string;
  label?: string;
  content?: string;
  placeholder?: string;
  forgot?: boolean;
  forgotText?: string;
  autocomplete?: string;
  isConfirm?: boolean;
}

const {
  id,
  name,
  errorId,
  label = "Password",
  content,
  placeholder = "Enter your password",
  forgot = false,
  forgotText = "Forgot password?",
  autocomplete = "current-password"
} = Astro.props;
---

<div>
  <div class="flex items-center justify-between">
    <label
      for={id}
      class="mb-2 block text-sm text-neutral-800 dark:text-neutral-200"
    >
      {label}
    </label>
    {
      forgot && (
        <a
          href="/auth/forgot-password"
          class="text-sm font-medium text-orange-400 decoration-2 hover:underline"
        >
          {forgotText}
        </a>
      )
    }
  </div>
  <div class="relative">
    <input
      type="password"
      id={id}
      name={name}
      class="block w-full rounded-lg border border-neutral-200 px-4 py-3 text-sm focus:border-orange-500 focus:ring-orange-500 dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-400"
      placeholder={placeholder}
      required
      aria-describedby={errorId}
      autocomplete={autocomplete}
    />
    <div
      id={errorId}
      class="mt-2 hidden text-sm text-red-600"
      role="alert"
    ></div>
  </div>
  {
    content && (
      <p class="mt-2 text-sm text-neutral-500 dark:text-neutral-400">{content}</p>
    )
  }
</div>
